@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
    margin: 0 !important;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none !important;
}

.loader
{
    background-color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999;
    /* display: none; */
}


.top-bar
{
    background-color: #71b85f;
    padding: 2% 0;
}

.top-bar .logo
{
    
}

.top-bar .logo img
{
    width: 100%;
    height: 60px;
}

.top-bar .nav
{
    padding-top: 3%;
}

.top-bar .nav ul
{
    display: flex;
    list-style: none;
}

.top-bar .nav li a
{
    color: white;
    font-size: 18px;
    padding: 0 20px 0 20px;
    text-align: center;
    display: block;
    border-bottom: 1px solid transparent;
}

.top-bar .nav li a.active
{
    /* color: white;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    text-align: center;
    border-bottom: 3px solid white;
    opacity: 0.5s;
    transition: 0.5s; */
}

.top-bar .nav a:hover
{
    border-bottom: 3px solid white;
    opacity: 0.5s;
    transition: 0.5s;
}

.top-bar .oder
{

}

.top-bar .oder a 
{
    float: right;
}

.top-bar .oder i
{
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    padding: 15px;
    font-size: 30px;
    background-color: #f3f3f3;
    color: black;
    position: absolute;
    top: 80%;
    box-shadow: 1px 1px 3px grey;
}

.top-bar .oder i:hover
{
    background-color: #dfdfdf;
    opacity: 0.5s;
    transition: 0.5s;
}

